<script type="text/template" id="productoList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>name</th>
		 <th>cantidadDisponible</th>
		 <th>cantidadEnProceso</th>
		 <th>tiempoEspera</th>
		 <th>cantidadMinima</th>
		 <th>cantidadMaxima</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(productos, function(producto) { %>
    <tr>
		<td><%= htmlEncode(producto.getDisplay('name')) %></td>
		<td><%= htmlEncode(producto.getDisplay('cantidadDisponible')) %></td>
		<td><%= htmlEncode(producto.getDisplay('cantidadEnProceso')) %></td>
		<td><%= htmlEncode(producto.getDisplay('tiempoEspera')) %></td>
		<td><%= htmlEncode(producto.getDisplay('cantidadMinima')) %></td>
		<td><%= htmlEncode(producto.getDisplay('cantidadMaxima')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-producto-edit',{id:<%= producto.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-producto-delete',{id:<%= producto.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="producto">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-productoForm">
    <% if(producto.id) {%>
    <input type="hidden" name="id" value="<%= producto.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= producto.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="cantidadDisponible">cantidadDisponible</label>
    	<input type="text" class="form-control" id="cantidadDisponible" name="cantidadDisponible" placeholder="Enter value" value="<%= producto.get('cantidadDisponible') %>"/>	
		</div>
		<div class="form-group" >
		<label for="cantidadEnProceso">cantidadEnProceso</label>
    	<input type="text" class="form-control" id="cantidadEnProceso" name="cantidadEnProceso" placeholder="Enter value" value="<%= producto.get('cantidadEnProceso') %>"/>	
		</div>
		<div class="form-group" >
		<label for="tiempoEspera">tiempoEspera</label>
    	<input type="text" class="form-control" id="tiempoEspera" name="tiempoEspera" placeholder="Enter value" value="<%= producto.get('tiempoEspera') %>"/>	
		</div>
		<div class="form-group" >
		<label for="cantidadMinima">cantidadMinima</label>
    	<input type="text" class="form-control" id="cantidadMinima" name="cantidadMinima" placeholder="Enter value" value="<%= producto.get('cantidadMinima') %>"/>	
		</div>
		<div class="form-group" >
		<label for="cantidadMaxima">cantidadMaxima</label>
    	<input type="text" class="form-control" id="cantidadMaxima" name="cantidadMaxima" placeholder="Enter value" value="<%= producto.get('cantidadMaxima') %>"/>	
		</div>
    </form>
    </div>
</script> 