<script type="text/template" id="itemList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>costo</th>
		 <th>fechaExp</th>
		 <th>cantidad</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(items, function(item) { %>
    <tr>
		<td><%= htmlEncode(item.getDisplay('costo')) %></td>
		<td><%= htmlEncode(item.getDisplay('fechaExp')) %></td>
		<td><%= htmlEncode(item.getDisplay('cantidad')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-item-edit',{id:<%= item.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-item-delete',{id:<%= item.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="item">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-itemForm">
    <% if(item.id) {%>
    <input type="hidden" name="id" value="<%= item.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="costo">costo</label>
    	<input type="text" class="form-control" id="costo" name="costo" placeholder="Enter value" value="<%= item.get('costo') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fechaExp">fechaExp</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaExp"  name="fechaExp" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fechaExp').datepicker({autoclose:true});
        	$('#fechaExp').datepicker('setDate',new Date(<%= item.get('fechaExp') %>));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
		<label for="cantidad">cantidad</label>
    	<input type="text" class="form-control" id="cantidad" name="cantidad" placeholder="Enter value" value="<%= item.get('cantidad') %>"/>	
		</div>
    </form>
    </div>
</script> 